<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999380152523-lqkhacaiuvc5i1ih8r16phhur5stookt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999380152523-lqkhacaiuvc5i1ih8r16phhur5stookt</string>
	<key>API_KEY</key>
	<string>AIzaSyCfe-Wa8zf-vGUbrx97UOA9qObyIK4Yfi0</string>
	<key>GCM_SENDER_ID</key>
	<string>999380152523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quickitchen.delivery</string>
	<key>PROJECT_ID</key>
	<string>quickitchen-dotma</string>
	<key>STORAGE_BUCKET</key>
	<string>quickitchen-dotma.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999380152523:ios:85a548867d9479230b2b4e</string>
</dict>
</plist>